.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .75);
  border-radius: .25rem;
  padding: 10px;
}
.form-container {
  margin: 0 1rem;
}
.input-group {
  justify-content: space-around;
}
/* email form validation */
input[type="email"]:valid:focus {
  border: 2px solid green;
}
input[type="email"]:invalid:focus {
  border: 2px solid red;
}


button:active {
  transform: scale(.98);
}

.password-warning {
  color: red;
  font-size: .8rem;
}

.users-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.user-profile {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
}

.delete-edit-btns {
  display: flex;
  justify-content: space-evenly;
}

#old-password.invalid {
  border: 2px solid red;
}
#old-password.valid {
  border: 2px solid green;
}

