.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .75);
  border-radius: .25rem;
  padding: 10px;
}
.form-container {
  margin: 0 1rem;
}
.input-group {
  justify-content: space-around;
}

button:active {
  transform: scale(.98);
}

.password-warning {
  color: red;
  font-size: .8rem;
}


